<!DOCTYPE html>
<html lang="es">
     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widtm, initial-scale=1.0">
        <title>LUNÉ - Boutique Online - Catálogos</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <header>
            <div class="logo">
                <h2>LUNÉ</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="..\index.html">Inicio</a></li>
                    <li><a href="#destacados">Destacados</a></li>

                    <li class="dropdown">
                        <a href="#productos">Catálogos</a>

                        <ul class="submenu">
                            <li><a href="../catalogos/bolsos.html">Bolsos</a></li>  
                            <li><a href="../catalogos/collares.html">Collares</a></li> 
                            <li><a href="../catalogos/perfumes.html">Perfumes</a></li> 
                            <li><a href="../catalogos/lentes.html">Lentes</a></li>
                            <li><a href="../catalogos/ropa.html">Ropa</a></li> 
                        </ul>
                    </li>

                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section id="inicio" class="hero">
            <div class="hero-texto">
                <h1>Descubre tu estilo en LUNÉ</h1>
                <p>Encuentra prendas, accesorios y detalles especiales para complementar tu estilo.</p>
                <a href="#productos" class="btn-comprar">Ver Colección</a>
            </div>
        </section>

        <section id="destacados" class="seccion-carrusel">
            <h2>Los más Vendido</h2>

            <div class="carrusel-wrapper">
                <div class="carrusel">
                    <div class="tarjeta-carrusel">
                        <img src="bolso_13.jpg" alt="Bolso" width="450">
                        <h3>Bolso</h3>
                        <p class="precio">$200 MXN</p>
                        <button class="btn-card">Añadir al Carrito</button>
                    </div>

                    <div class="tarjeta-carrusel">
                        <img src="../collar23.jpg" alt="Collar minimalista" width="400">
                        <h3>Collar Minimalista</h3>
                        <p class="precio">$450 MXN</p>
                        <button class="btn-card">Añadir al Carrito</button>
                    </div>

                    <div class="tarjeta-carrusel">
                        <img src="../perfume_11.jpg" alt="Perfume dulce" width="350">
                        <h3>Perfume Dulce</h3>
                        <p class="precio">$750 MXN</p>
                        <button class="btn-card">Añadir al Carrito</button>
                    </div>

                    <div class="tarjeta-carrusel">
                        <img src="ropa_12.jpg" alt="Conjunto" width="350">
                        <h3>Conjunto</h3>
                        <p class="precio">$250 MXN</p>
                        <button class="btn-card">Añadir al Carrito</button>
                    </div>

                </div>
            </div>
        </section>

        <section id="productos" class="catalogo">
            <h2>Nuestros Catálogos</h2>
            <div class="productos">
                <div class="producto">
                    <h3>Bolsos</h3>
                    <p>Descubre nuestra colección de bolsos.</p>
                    <a href="../catalogos/bolsos.html" class="btn-card">
                        Ver catálogo
                    </a>
                </div>
                
                <div class="producto">
                    <h3>Collares</h3>
                    <p>Conoce nuestra colección de collares.</p>
                    <a href="../catalogos/collares.html" class="btn-card">
                        Ver catálogo
                    </a>
                </div>
                
                <div class="producto">
                    <h3>Perfumes</h3>
                    <p>Descubre nuestras fragancias.</p>
                    <a href="../catalogos/perfumes.html" class="btn-card">
                        Ver catálogo
                    </a>
                </div>
                
                <div class="producto">
                    <h3>Lentes de sol</h3>
                    <p>Encuentra lentes para complementar tu estilo.</p>
                    <a href="../catalogos/lentes.html" class="btn-card">
                        Ver catálogo
                    </a>
                </div>
                
                <div class="producto">
                    <h3>Ropa</h3>
                    <p>Descubre nuestra colección de ropa.</p>
                    <a href="../catalogos/ropa.html" class="btn-card">
                        Ver catálogo
                    </a>
                </div>
            </div>
        </section>

        <section id="contacto" class="contacto">
            <h2>Únete a LUNÉ</h2>
            <p>Recibe novedades, promociones y nuevas colecciones directamente en tu correo.</p>

            <form class="formulario">
                <input type="email" placeholder="Ingresa tu correo electrónico" required>
                <button type="submit">Unirme</button>
            </form>
        </section>

        <footer>
            <p>&copy; 2026 LUNÉ Boutique. Proyecto Escolar HTML5 & CSS3.</p>
        </footer>

    </body>
</html>