<!DOCTYPE html>
<html lang="es">
     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widtm, initial=1.0">
        <title>>LUNÉ - Boutique Online - Catálogos</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <header>
            <div class="logo">
                <h2>LUNÉ</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#destacados">Destacados</a></li>
                    <li><a href="#productos">Catálogos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>
<!--
        <section id="inicio" class="hero">
            <div class="hero-texto">
                <h1>Descubre tu estilo en LUNÉ</h1>
                <p>Encuentra prendas, accesorios y detalles especiales para complementar tu estilo.</p>
                <a href="#productos" class="btn-comprar">Ver Colección</a>
            </div>
        </section>
    -->
        <section id="destacados" class="seccion-carrusel">
            <h2>Los más Vendido</h2>

            <div class="carrusel-wrapper">
                <div class="carrusel">
                    <div class="tarjeta-carrusel">
                        <img src="bolso_45.jpg" alt="Bolso elegante" width="450">
                        <h3>Bolso elegante</h3>
                        <p class="precio">$899 MXN</p>
                        <button class="btn-card">Añadir al Carrito</button>
                    </div>

                    <div class="tarjeta-carrusel">
                        <img src="collar23.jpg" alt="Collar minimalista" width="400">
                        <h3>Collar Minimalista</h3>
                        <p class="precio">$450 MXN</p>
                        <button class="btn-card">Añadir al Carrito</button>
                    </div>

                    <div class="tarjeta-carrusel">
                        <img src="perfume_11.jpg" alt="Perfume dulce" width="350">
                        <h3>Perfume Dulce</h3>
                        <p class="precio">$750 MXN</p>
                        <button class="btn-card">Añadir al Carrito</button>
                    </div>

                    <div class="tarjeta-carrusel">
                        <img src="lentes_sol9.jpg" alt="Lentes de sol" width="350">
                        <h3>Lentes de Sol</h3>
                        <p class="precio">$650 MXN</p>
                        <button class="btn-card">Añadir al Carrito</button>
                    </div>

                </div>
            </div>
        </section>

        <section class="beneficios">

            <div class="beneficios-item">
                <h3>🚚 Envío Gratis</h3>
                <p>En compras mayores a $800 MXN</p>
            </div>

            <div class="beneficios-item">
                <h3>💗 Compra Segura</h3>
                <p>Realiza tus compras de forma fácil y segura</p>
            </div>

            <div class="beneficios-item">
               <h3>✨ Atención Personalizada</h3> 
               <p>Estamos para ayudarte con tus compras</p>
            </div>

        </section>

        <section id="contacto" class="contacto">
            <h2>Únete a LUNÉ</h2>
            <p>Recibe novedades, promociones y nuevas colecciones directamente en tu correo.</p>

            <form class="formulario">
                <input type="email" placeholder="Ingresa tu correo electrónico" required>
                <button type="submit">Unirme</button>
            </form>
        </section>

        <footer>
            <p>&copy; 2026 LUNÉ Boutique. Proyecto Escolar HTML5 & CSS3.</p>
        </footer>

    </body>
</html>